body,
html {
    min-height: 100%;

}

body {
   background-image: url("../images/car_back.jpg");
   background-repeat: no-repeat;
   background-size: cover;    

   color: white;
}

#logoAiSim {
    margin-top: -2rem;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    background: linear-gradient(#28a8afBB, #323232BB );
    position: absolute;
    width: 1200px;
    border-radius: 50px;

    margin-top: 4em;
    left: 50%;
    transform: translateX(-50%);
}

#produtosAiSim {
    float: left;
    width: 30%;
    margin: 2em;   
}

.textProduct {
    font-size: 22px;
    padding: 5em 3em 5em 3em;
    text-align: justify;

    line-height: 2.5rem;
    letter-spacing: 1.6px;
}

.revendedor{
    margin: 2rem;
    line-height: 1.5rem;
    max-width: 16.0rem;
    background-color: #ffffffa6;
    padding: 20px;
    float: right;

    border-radius: 2em;
}

.revendedor h2{
    margin-bottom: 25px;
    font-size: 16px;
    color: black;
}


.revendedor .button {
    width: 14rem;
    height: 3rem;
    background: #00DAA1;
    color: white;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-decoration: none;

    transition: background 0.2s;
    margin-left: 1rem;    
}

.revendedor .button:hover {
    background: #11D201;
}

.iconWhats {
    width: 2rem; 
}



/* Contato */
footer{
    clear:left;
    margin: 0 0 3rem 2rem;
}

footer a{
    color: white;
    text-decoration: none;
}

.icone {
    width: 2rem;
    margin-right: 10px;
    transform: translateY(25%);
}

.itemList {
    line-height: 1.8rem;
    font-size: 1.3rem;
}